<nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
                <div class="text-center title_cont">
                    <a id="nav_title" href="#">INSTAGRAM</a>
                </div>
            </div><!-- /.container -->
</nav>
