<nav id="header" class="navbar">
            <div id="header-container" class="container navbar-container">
                <div class="text-center title_cont">
                    <a id="nav_title" href="#">BEST OF INSTAGRAM</a>
                </div>
                <div class="text-center">
                <h4>Showcasing the most popular of our instagram.</h4>
                </div>
            </div><!-- /.container -->
</nav>
