.title_cont{
  padding: 50px 0 30px 0;
}

#nav_title{
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  background: #1a1a1a;
  border-radius: 25px;
  color: #fff;
  transition: all 0.2s ease-in;
}

#nav_title:hover{
  background: #fff;
  color: #1a1a1a;
}


.main_div{
  padding-top: 100px;
}

.instagram-pic{
  position: relative;
  padding: 10px;
  overflow: hidden;
}

img:hover{
  opacity: 0.6;
  background: #000;
}

.instagram-bar{
  position: absolute;;
  bottom: 30px;
  width: 100%;
  color: #000;
}

.instagram-bar span{
  margin-right: 5px;
}

.instagram-bar .likes{
  position: absolute;
  left: 15px;
}

.instagram-bar .comments{
  position: absolute;;
  right: 30px;
}

footer{
  padding: 50px;
}

::selection{
  background: #1a1a1a;
  color: #fff;
}
::-moz-selection {
  background: #1a1a1a;
  color: #fff;
}
